* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.header, .footer{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding-top: 1rem;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header_link, .hero_text{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 15px;
}

.hero_text.main {
    font-size: 38px;
    color: #F9FaF8;
    font-weight: 900;
}

.upper-content {
    display: flex;
    justify-content: center;
    /* flex: 1; */
    background-color: #1F2937;
    padding: 3rem;
    gap: 1rem;
}

.upper-content .left {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 0.5rem;
}

.left>button {
    white-space: nowrap;
    width: 7rem;
    height: 25px;
    background-color: #3882F6;
    border-radius: 6px;
    color: white;
    /* border: 0; */
    text-align: center;
}

.info {
    padding: 1.5rem;
}

.info_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 1rem;
}

.info_cards img {
    border: 3px solid #3882F6;
    border-radius: 8px;
    width: 100%;
    max-width: 180px;
    height: 120px;
    object-fit: cover;
}

.info_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 180px;
    gap: 10px;
    text-align: center;
}

.info_card p {
    font-size: 0.8rem;
}

.info_title {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding-bottom: 10px;
}

.information_text {
    font-size: 18px;
}

.quote_section {
    display: flex;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.quote_content {
    padding: 2rem;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    padding: 1rem;
    flex-wrap: wrap;
}

.quote_author {
    font-style: normal;
    text-align: right;
    font-weight: 600;
    font-size: large;
}

.call_to_action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.cta_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    padding: 2rem 0rem;
    width: 50rem;
}

.cta_left {
    display: flex;
    flex-direction: column;
}

.cta_button>button {
    white-space: nowrap;
    padding: 0.5rem 0.5rem;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 6px;
    border: 2px solid white;
}

.upper-content button {
    border: 0;
}

a {
    text-decoration: none;
    color: #F9FaF8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.footer_txt {
    padding: 1rem;
    color: #E5E7EB;
}